.nav-item.favorites .fa-heart {
    font-size: 25px;
    color: #ff1c1c;
}

.nav-item.favorites span {
    font-size: 14px;
    font-weight: normal;
}

.nav-item.favorites .nav-link {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust spacing between icon and text */
}

.wishlist-badge {
    background-color: #ff5c5c;  /* Màu đỏ tươi */
    color: white;  /* Màu chữ trắng */
    font-size: 10px; /* Tăng kích thước số */
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -5px;
    right: -10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.wishlist-badge:hover {
    background-color: #ff1c1c; /* Màu đỏ đậm hơn khi hover */
    transform: scale(1.1);  /* Tăng kích thước khi hover */
}

.nav-item.favorites {
    position: relative;  /* Để badge hiển thị đúng vị trí */
}
/* Container bao quanh HeartButton */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip mini thông báo */
.tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 120%; /* Hiển thị trên button */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Mũi tên nhỏ chỉ xuống */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Gắn mũi tên bên dưới tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Hiển thị tooltip khi di chuột vào HeartButton */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
